<html>
    <head>
        <title>Pagina de ventas Michael Kors</title>
        <link href="{{ url_for('static', filename='css/misEstilos4.css') }}" rel="stylesheet" type="text/css"/>
       
    </head>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <body>
        
        <main>
        

        <h3 id="objeto_1">MODO SUPERADMINISTRADOR</h3>
        <h1 id="objeto_1">Agregar un usuario</h1>

            
            <form method="post" action="{{ url_for('agregar1')}}">
            <div id="usuarios" class="usuarios">
                <table align="center">
                    <tr>
                        <td align="left">Nombre:</td>
                        <td align="left"><input type="text" name="nombre" onkeypress='return soloLetras(event)' id="nombre" /></td>
                    </tr>
                    <tr>
                        <td align="left">Apellido:</td>
                        <td align="left"><input type="text" name="apellido"  onkeypress='return soloLetras(event)' id="apellido" /></td>
                    </tr>
                    <tr>
                        <td align="left">identificacion:</td>
                        <td align="left"><input type="text" name="identificacion" onkeypress='return soloNumeros(event)' id="identificacion"/></td>
                    </tr>

                    <tr>
                        <td align="left">Usuario:</td>
                        <td align="left"><input type="text" name="usuario" id="usuario" /></td>
                    </tr>

                    <tr>
                        <td align="left">Email</td>
                        <td align="left"><input type="text" name="correo"  id="correo" /></td>
                    </tr>

                    <tr>
                        <td align="left">Estado</td>
                        <td align="left">
                                    
                            <select name="estado" id="estado" >
                                                               
                                <option value="selcategoria">Selecciona estado</option> 
                                <option value="Activo">Activo</option> 
                                <option value="Inactivo">Inactivo</option> 
                                
                                
                            </select>
                    </tr>

                    <tr>
                        <td align="left">Genero</td>
                        <td align="left">
                                    
                            <select name="genero" id="genero" >
                                
                                <option value="selcategoria">Selecciona genero</option> 
                                <option value="Masculino">Masculino</option> 
                                <option value="Femenino">Femenino</option> 
                                
                                
                            </select>
                    </tr>

                    <tr>
                        <td align="left">Tipo usuario</td>
                        <td align="left">
                                    
                            <select name="tipo_usuario" id="tipo_usuario" >
                                
                                <option value="selcategoria">Selecciona tipo usuario</option> 
                                <option value="Administrador">Administrador</option> 
                                <option value="Superadministrador">Superadministrador</option> 
                                <!--<option value="cliente">Cliente</option> -->
                                
                                
                            </select>
                    </tr>
                   
                    

                </table>
            
                <br><br>
               
                <input type="submit" value="Guardar" class="guardar" align="left" onclick="alerta11()" />
            </form >
                <br>
                <form action="{{ url_for('regresar')}}" >
                <input type="submit" value="Cancelar" class="cancelar" align="right" onclick="window.close()"/></div>
                </form>
            </div>

            
            

            
            
            
            
            
            
            
            
        </main>
    </body>


</html>