<html>
    <head>
        <title>Pagina de ventas Michael Kors</title>
        <link href="misEstilos4.css" rel="stylesheet" type="text/css"/>

    </head>
    <script src="script.js"></script>
    <body>
        
        <main>
        
        <h3 id="objeto_1">MODO SUPERADMINISTRADOR</h3>
        <h1 id="objeto_1">Michael Kors</h1>

         
            
            
            </div>

            

            
                 <div class="margines" id="margenes" align="center">
                 

                <table class="default" with="1000">

                    <tr>
                  
                      <td>
                        <img src="#"  style="float:right; margin:25px;border: 1px solid;" alt="" width="150" height="200" align="left" />
                        <br><a href="#" align="center">Agregar Imagen</a>
                      </td>
                  
                      <td><h3>Detalle del producto</h3><br>
                        <table>
                            <tr>
                                <td>Codigo:</td>
                                <td align="left"><input type="text"  name="codigo" id="codigo" /></td>
                            </tr>
                            <tr>
                                <td>Nombre:</td>
                                <td align="left"><input type="text"  name="nombre" id="nombre"/></td>
                            </tr>
                            <tr>
                                <td>Cantidad:</td>
                                <td align="left"><input type="text"  name="cantidad" onkeypress='return soloNumeros(event)' id="cantidad"/></td>
                            </tr>

                            <tr>
                                <td>Genero:</td>
                                <td align="left">
                                    
                                    <select name="genero" id="genero" >
                                        <option value="b">Selecciona Estado</option> 
                                        <option value="mujer">Mujer</option> 
                                        <option value="hombre">Hombre</option>
                                        
                                    </select>
                                    </td>
                             </tr>

                            <tr>
                                <td>Categoria:</td>
                                <td align="left">
                                    
                                <select name="categoria" id="categoria" >
                                    <option value="selcategoria">Selecciona categoria</option> 
                                    <option value="ropa">Ropa</option> 
                                    <option value="calzado">Calzado</option> 
                                    <option value="bolsos">Bolsos</option>
                                    <option value="accesorios">Accesorios</option> 
                                    
                                </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Estado:</td>
                                <td align="left">
                                    
                                    <select name="estado" id="estado">
                                        <option value="b">Selecciona estado</option> 
                                        <option value="disponible">Disponible</option> 
                                        <option value="No_disponible">No Disponible</option>
                                        
                                    </select>
                                    </td>
                             </tr>
                             
                                 
                                
                            
                             
                        </table>

                        <fieldset>
                            <legend align="left">Descripcion del producto</legend>
                            <p><textarea name="comentario" rows="5" cols="50" text-align="left" > 
                              
                            
                            </textarea></p>
                        </fieldset>
                        <br>
                        <input type="button" value="Guardar" class="guardar2" align="left" onclick="alerta6()" />
                    
                        <input type="button" value="Cancelar" class="cancelar2" align="left" onclick="window.close()"/>
                    
                    </td>
                  
                    </tr>
                  
                    
                  
                  </table>
                  

            </div>
            </div>
            

            
            
            
            
            
            
            
            
        </main>
    </body>


</html>