<html>
    <head>
        <title>Pagina de ventas Michael Kors</title>
        <link href="misEstilos1.css" rel="stylesheet" type="text/css"/>

    </head>
    
    <body>
        
        <main>
        <div id="caja_busqueda">
            <form action="#" method="post">
                <input type="text" value="Buscar producto..." name="q" size="15" id="searchfield" title="searchfield" onfocus="clearText(this)" onblur="clearText(this)" />
                               
                <a href="#"><input type="button" name="Search" value="Mi cuenta" id="searchbutton" title="Search" /></a>
                 
                 <a href="registro.html"><img src="imagenes/añadir4.png" alt="inicio" width="20" height="20" /></a>

            </form>
        </div>

        <h3 id="objeto_1">Productos especiales. 25% de descuento por tu primera compra</h3>
        

         
            
            <div class="menu" id="barraLateral">
                <div class="empresa">
                    <h3 id="objeto_2">MICHAEL KORS</h3>
                    
                </div>

                <nav>
                    <ul>
                        <li><br><br><a href="mi_perfil.html">Mi perfil</a>
                          
                        <li><a href="lista_deseos1.html">Mi lista de deseos</a></li>
                        <li><a href="cambiar_contrasena.html">Cambiar contraseña</a></li>
                           
                       
                        <li><a href="lista_deseos6.html">Direcciones</a></li>
                           
                        
                        <li><a href="inicio.html">Cerrar</a></li>
                             
                        
                        
                    </ul>
                
                
                    
            </nav>

            
           
            
            
            </div>

            <div class="contenido2" id=contenido2>
                <div><br>
                <h1>Mi cuenta</h1> 
                
                
                <div class="registro-form">
                    
                   <h4 >Mis zapatos favoritos</h4> 
                    
                
                   <br><br> <a href="compra.html" ><img src="imagenes/añadirproducto.jpg" alt="inicio" width="100" height="100" /><br>Agregar productos a la lista</a>
                    
                    

               

                </div>
           
               
            </div>
        
            </div>
        

            
            
            
            
            
            
            
            
        </main>
   
    </body>


</html>