<html>
    <head>
        <title>Pagina de ventas Michael Kors</title>
        <link href="{{ url_for('static', filename='css/misEstilos4.css') }}" rel="stylesheet" type="text/css"/>
       
    </head>
    
    <body>
        
        <main>
        

        <h3 id="objeto_1">MODO ADMINISTRADOR</h3>
        <h1 id="objeto_1">Michael Kors</h1>

            
            
            <div id="usuarios" class="usuarios">
                
               <h3>Politicas de privacidad</h3>
                <p>En cumplimiento a nuestro deber de informar tal como lo dispone la Ley 1518 de 2012, la empresa Michael Kors a través de la Direcicón de ventas de productos , le informa que los datos personales suministrados mediante el presente formulario serán tratados con confidencialidad y únicamente se usarán como soporte de la actividad estadistica y uso estricto de la pagina, y adicionalmente para enviar información relacionada con informes de ventas, los cuales serán tratados conforme la política de protección de datos personales (Resolución 2.224 de 2019)
                </p>

            </div>

            
            

            
            
            
            
            
            
            
            
        </main>
    </body>


</html>